<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>IPHONE 11</title>
</head>
<body>
    <div class="grid">
        @foreach (var item in Model)
        {
            <article class="card">
                <div class="thumb">
                    <img src="@item.Image_string" alt="@item.Productname_string" />
                </div>
                <div class="name">
                    @item.Productname_string
                </div>
                <div class="price">
                    @item.Price_string
                </div>

            </article>
        }
    </div>
</body>
</html>