<form asp-action="Authenticate" method="post">
    <h3>Đăng nhập hệ thống</h3>
    <p class="text-danger">@ViewBag.Error</p>

    <label>Username:</label>
    <input type="text" name="username" class="form-control" required />
    <br />

    <label>Password:</label>
    <input type="password" name="password" class="form-control" required />
    <br />

    <button type="submit" class="btn btn-primary">Login</button>
</form>