* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    margin: 0;
    padding: 20px;
}

.Header {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    color: white;
    text-align: center;
    font-size: 40px;
}

.mid {
    width: 100%;
    height: 500px;
    position: relative;
}

.Boxtrai {
    width: 30%;
    height: 500px;
    background-color: gray;
    position: absolute;
    left: 0;
}

.Boxphai {
    width: 70%;
    height: 500px;
    background-color: darkgray;
    position: absolute;
    right: 0;
}

.Footer {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    color: white;
    text-align: center;
    align-content: center;
    font-size: 30px;
}
