@model Bai03.Models.ProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
}

<h2>Chi tiết sản phẩm</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Tên sản phẩm</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4">Giá</dt>
            <dd class="col-sm-8">@Model.Price.ToString("N0") VNĐ</dd>

            <dt class="col-sm-4">Số lượng</dt>
            <dd class="col-sm-8">@Model.Quantity</dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
</div>