@model Bai02.Models.ProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Create</h2>

<form asp-controller="Home" asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Quantity">Quantity:</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

    <br />

    <a href="/Home/Index">
        <button type="submit" class="btn btn-primary">Add</button>
    </a>
</form>