@{
    ViewData["Title"] = "London";
    Layout = "_Layout";
}

<div class="text-center">
    <h2 class="display-4">London</h2>
    <p>
        London Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br />
        Dicta nesciunt, mollitia non, ad deserunt ex quidem vel sit qui doloremque itaque, accusantium possimus culpa inventore amet ut iure quam! Numquam.
    </p>
</div>
