@model List<Bai01.Models.ProductModel>

<h2>Product List</h2>
<a href="/Home/Create" class="btn btn-success">Create</a>
<a href="/Home/Edit" class="btn btn-success">Edit</a>
<a href="/Home/Delete" class="btn btn-success">Delete</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>